{% extends "base.html" %}
{% block title %}Pickup Sports App{% endblock %}
{% block content %}

<ul class="menu menu-hover-lines">
  <li class="active"><a href="/">Home</a></li>
  {% if user.is_authenticated %}
  <li><a href="/logout/">Logout {{ user.username }}</a></li>
  <li><a href="/admin/">Admin</a></li>
  <li><a href="/event/">Create Event</a></li>
  <li><a href="/team/">Create Team</a></li>
  {% else %}
  <li><a href="/login/">Login</a></li>
  <li><a href="/register/">Register</a></li>
</ul>
<br><br>
<iframe align="right" width="500" height="350" src="https://www.youtube.com/embed/DwhTYFwfACA" frameborder="0" allowfullscreen>
</iframe>
<table id="ruleTable" style="width:10%" align="right">
  <tr>
    <th>Sports & Rules</th>
  </tr>
  <tr>
    <td><a href="http://www.kids-sports-activities.com/basic-baseball-rules.html" target="_blank" style="color:#cc0000">⚾️Baseball</a>
</td>
  </tr>
  <tr>
    <td><a href="https://www.breakthroughbasketball.com/basics/basics.html" target="_blank" style="color:#cc0000">🏀Basketball</a>
</td>
  </tr>
  <tr>
    <td><a href="http://www.topendsports.com/sport/soccer/basics.htm" target="_blank" style="color:#cc0000">⚽️Soccer</a>
</td>
  </tr>
  <tr>
    <td><a href="http://www.topendsports.com/sport/soccer/basics.htm" target="_blank" style="color:#cc0000">🏈Football</a>
</td>
  </tr>
  <tr>
    <td><a href="https://www.winnetkahockey.com/index.php/basic-rules-of-hockey" target="_blank" style="color:#cc0000">🏒Hockey</a>
</td>
</table>

  {% endif %}


<h5>Pick-Up Sports</h5>

<!-- <div id="chat-body" class="panel panel-default">
  <div class="panel-heading">Chat Box</div>
  <div id="msg-list-div" class="panel-body">
    <ul id="msg-list" class="list-group">
      {% for obj in chat %}
        {% if obj.user == request.user %}
          <li class="text-right list-group-item">{{ obj.message }}</li>
        {% else %}
          <li class="text-left list-group-item">{{ obj.message }}</li>
        {% endif %}
      {% empty %}
        <li class="text-right list-group-item">No messages</li>
      {% endfor %}
      <script>
        var chatlist = document.getElemenyById('msg-list-div');
        chatlist.scrollTop = chatlist.scrollHeight;
      </script>
    </ul>
  </div>
</div>-->



{% if user.is_authenticated %}
<div class="grid-x grid-margin-x grid-padding-x">
  <div id="event" class="small-5 small-3 cell">
    {% for x in games %}
    <table>
      <tr>
      <th> Event Name </th>
      <th> Location </th>
      <th> Event Date </th>
      <th> Event Created On </th>
    </tr>
      <td>{{x.event}}</td>
      <td>{{x.location}}</td>
      <td>{{x.date}}</td>
      <td>{{x.create_time}}</td>
    </table>
    {% endfor %}
  </div>
  <div class="auto cell">
    {% for x in teams %}
    <table>
      <tr>
      <th> Team Name </th>
      <th> Team Captain </th>
    </tr>
      <td>{{x.name}}</td>
      <td>{{x.captain}}</td>
    </table>
    {% endfor %}

  </div>
  <div class="auto cell">
    <iframe
      width="450"
      height="300"
      frameborder="0" style="border:0"
      src="https://www.google.com/maps/embed/v1/search?key=AIzaSyBQnsVrnvpuWjXDokZBDkEO-uX-yyTsFUQ
        &q=CSU+Chico+CA" allowfullscreen>
    </iframe>
  </div>
</div>


<div class="grid-x grid-margin-x medium-margin-collapse">
  <div class="small-6 cell">
    Gutters at small no gutters at medium.
  </div>
  <div class="small-6 cell">
    Gutters at small no gutters at medium.
  </div>
</div>



{% endif %}




{% endblock %}
